.navbar_ .nav-collapse_ , .navbar_ collapse {
    overflow: visible;
  }
  body {
  	min-width: 980px;
  }
 #panel .nav-collapse.collapse {
 	overflow: visible;
  }
  #advanced span.trigger strong{filter:alpha(opacity=0);}
#advanced.closed span.trigger strong{filter:alpha(opacity=100);}

#advanced .dropdown-menu li li a {
  display: inline-block;
}

/*******/
